<style type="text/css">

.header-normal {
	padding-bottom:35px;
}
.logo .image {
    padding-bottom: 15px !important;
}
.promobox {
	padding-top: 0px;
	padding-bottom: 20px;
	margin-top: -1px;
}
</style>