<style type="text/css">
.content h2.subheading {
	color: #000 !important;
}

.content form h2.subheading {
	 color: #7B4397 !important;
}

.header-medium {
	padding-bottom: 0px;
}

.text-body {
	padding-top: 0px;
}
</style>