<p style="font-size: 1rem;
  line-height: 16px;
  color: #999;
  text-align:center;">†On flights from SFO to SJD, both Satellite TV and Internet services are available for roughly one hour of the flight, but then unavailable for two hours. On flights from SFO and LAX to CUN and PVR, both services are available for over 3 hours, and then unavailable for 2 hours of flight. For guests traveling to Hawaii, WiFi service and Satellite TV are not currently available.</p>